<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Notes App" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="" />
    <title>Notes App</title>
    <link rel="canonical" href="https://notes.com" />
    <link rel="icon" sizes="192x192" href="favicon.png" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="" />
    <link rel="stylesheet" type="text/css" href="" />
    <link rel="alternate" hreflang="x-default" href="https://notes.com" />
    <link rel="alternate" hreflang="es" href="https://notes.com" />
  </head>
  <body>
   {{{body}}}
  </body>
</html>
