<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='theme-color' content='#000000' />
    <meta name='description' content='Notes App' />
    <meta name='robots' content='index,follow' />
    <meta name='keywords' content='' />
    <title>Notes App</title>
    <link rel='canonical' href='https://notes.com' />
    <link rel='icon' sizes='192x192' href='favicon.png' />
    <link rel='shortcut icon' href='favicon.png' />
    <link rel='apple-touch-icon' href='' />
    {{! BOOTSTRAP }}
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor'
      crossorigin='anonymous'
    />
    <!-- FONT AWESOME -->
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-svg-core@1.2.28/styles.css'
      integrity='sha384-sfnEuX/m3Dn3o9arS6KAZ6062Ky0q4v6BXlW2VC6jTNrbX4wqqlsWbNgtUzT6P5E'
      crossorigin='anonymous'
    />
        {{! CUSTOM CSS }}
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    {{>navMenu}}
    <main class="mainLayout">
     {{>messages}}
     {{>errorAlerts }}
      {{{body}}}
    </main>
    {{! FONT AWESOME }}
    <script
      src='https://kit.fontawesome.com/275b6ab054.js'
      crossorigin='anonymous'
    ></script>
    {{! BOOTSTRAP }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>